networks:
  home-network:
    external: true

services:
  komodo-db:
    image: mongo:latest
    container_name: komodo-db
    restart: unless-stopped
    command: --quiet --wiredTigerCacheSizeGB 0.25
    volumes:
      - ~/docker/appdata/komodo/db:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${KOMODO_DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${KOMODO_DB_PASSWORD}
    networks:
      - home-network

  komodo-core:
    image: ghcr.io/moghtech/komodo-core:latest
    container_name: komodo-core
    restart: unless-stopped
    depends_on:
      - komodo-db
    ports:
      - "9120:9120"
    environment:
      # Official Database connection variables
      KOMODO_DATABASE_ADDRESS: komodo-db:27017
      KOMODO_DATABASE_USERNAME: ${KOMODO_DB_USERNAME}
      KOMODO_DATABASE_PASSWORD: ${KOMODO_DB_PASSWORD}

      # Reverse Proxy & UI settings
      KOMODO_HOST: https://komodo.home.rozart.dev
      KOMODO_TITLE: "Rozart Homelab Komodo"

      # Security & Connection
      KOMODO_PASSKEY: ${KOMODO_PASSKEY}

      KOMODO_FIRST_SERVER: https://komodo-periphery:8120
      KOMODO_FIRST_SERVER_NAME: "docker-host"
      KOMODO_LOCAL_AUTH: "true"
      KOMODO_INIT_ADMIN_USERNAME: ${KOMODO_INIT_ADMIN_USERNAME}
      KOMODO_INIT_ADMIN_PASSWORD: ${KOMODO_INIT_ADMIN_PASSWORD}
      KOMODO_DISABLE_USER_REGISTRATION: "true"
    networks:
      - home-network

  komodo-periphery:
    image: ghcr.io/moghtech/komodo-periphery:latest
    container_name: komodo-periphery
    restart: unless-stopped
    environment:
      # Must match the Core passkey to allow connection
      PERIPHERY_PASSKEYS: ${KOMODO_PASSKEY}
      PERIPHERY_PORT: 8120
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - ~/docker/appdata/komodo/periphery:/etc/komodo # Agent data storage
    networks:
      - home-network
