name: bentopdf
networks:
  home-network:
    external: true
services:
  bentopdf:
    image: bentopdf/bentopdf:latest
    container_name: bentopdf
    ports:
      - "3000:8080"
    restart: always
    networks:
      - home-network
