services:
  omada-controller:
    container_name: omada-controller
    image: mbentley/omada-controller:5.13
    restart: always
    network_mode: host
    command: >
      /usr/bin/java -server -Xms128m -Xmx1024m
      -XX:MaxHeapFreeRatio=60
      -XX:MinHeapFreeRatio=30
      -XX:+HeapDumpOnOutOfMemoryError
      -XX:HeapDumpPath=/opt/tplink/EAPController/logs/java_heapdump.hprof
      -Djava.awt.headless=true
      --add-opens java.base/java.util=ALL-UNNAMED
      -cp /opt/tplink/EAPController/lib/*::/opt/tplink/EAPController/properties:
      com.tplink.smb.omada.starter.OmadaLinuxMain
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      MANAGE_HTTP_PORT: 8088
      MANAGE_HTTPS_PORT: 8043
      PORTAL_HTTP_PORT: 8088
      PORTAL_HTTPS_PORT: 8843
      PORT_APP_DISCOVERY: 27001
      PORT_ADOPT_V1: 29812
      PORT_UPGRADE_V1: 29813
      PORT_MANAGER_V1: 29811
      PORT_MANAGER_V2: 29814
      PORT_DISCOVERY: 29810
      PORT_TRANSFER_V2: 29815
      PORT_RTTY: 29816
      SHOW_SERVER_LOGS: "true"
      SHOW_MONGODB_LOGS: "false"
      SSL_CERT_NAME: tls.crt
      SSL_KEY_NAME: tls.key
      TZ: ${TZ}
    volumes:
      - ./appdata/data:/opt/tplink/EAPController/data
      - ./appdata/logs:/opt/tplink/EAPController/logs
