networks:
  home-network:
    external: true

services:
  it-tools:
    image: corentinth/it-tools:latest
    container_name: it-tools
    ports:
      - "8282:80"
    restart: unless-stopped
    networks:
      - home-network
