TZ=Europe/Warsaw
PUID=1000
PGID=1000

# Mullvad WireGuard
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
SERVER_COUNTRIES=Sweden
NAS_PATH=/mnt/nas

# Shelfmark
PROWLARR_API_KEY=
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=
SABNZBD_API_KEY=

# slskd - Soulseek
SLSKD_SLSK_USERNAME=
SLSKD_SLSK_PASSWORD=
SLSKD_API_KEY=

# Lidarr
LIDARR_API_KEY=
