TZ=Europe/Warsaw
KOPIA_PASSWORD=your_repository_password_here
KOPIA_SERVER_USERNAME=admin
KOPIA_SERVER_PASSWORD=your_server_ui_password_here
STACKS_ROOT=/home/rozart/docker/stacks
NAS_BACKUP_PATH=/mnt/nas/docker-host-backups
